.main-content{
    max-width: 350px;
    background-color: #fff;
    border: 2px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: #fff;
    
    
}

.container form{
    width: 100%;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;    

}

.container form small{
    color: red;
}

.container h3{
    height: 40px;
    width: 100%;
    background-color: slategray;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    display: flex;
}

.container label{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.container input{
    border: 1px solid #808080;
    max-width: 180px;
    border-radius: 2px;
    height: 22px;
    padding: 8px;
}

.container button{
    
    width: 180px;
    cursor: pointer;
    background-color: slategray;
    margin-top: 10px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: none;
}

.result{
    width: 100%;
    max-width: 300px;
    padding: auto;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: slategray;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.result h3{
    font-size: 22px;
    font-weight: bold;
}